<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">TechJobs</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:each="action : ${actions}">
                    <a th:href="@{'/' + ${action.key}}" th:text="${action.value}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<table th:fragment="displayJobs" class="job-listing" th:each="job : ${jobs}">
    <tr th:each="row : ${rowLabels}">
      <td th:text="${row.value}">
      </td>
        <td th:if="${row.key == 'id' or row.key == 'name'}" th:text="${job[row.key]}">
        </td>
      <td th:unless="${row.key == 'id' or row.key == 'name'}">
          <a th:href="@{/list/jobs(column=${row.key},value=${job[row.key]})}" th:text="${job[row.key]}"></a>
      </td>
    </tr>
</table>


<table th:fragment="displayJobs2" class="job-listing" th:each="job : ${jobs}">
        <tr>
          <td>
            ID
          </td>
          <td th:text="${job.id}">
          </td>
        </tr>
      <tr>
        <td>
          Name
        </td>
        <td th:text="${job.name}">
        </td>
      </tr>
      <tr>
        <td>
          Employer
        </td>
        <td>
            <a th:href="@{/list/jobs(column=employer,value=${job.employer})}" th:text="${job.employer}"></a>
        </td>
      </tr>
      <tr>
        <td>
          Location
        </td>
        <td>
            <a th:href="@{/list/jobs(column=location,value=${job.location})}" th:text="${job.location}"></a>
        </td>
      </tr>
      <tr>
        <td>
          Position Type
        </td>
        <td>
            <a th:href="@{/list/jobs(column=positionType,value=${job.positionType})}" th:text="${job.positionType}"></a>
        </td>
      </tr>
      <tr>
        <td>
          Skill
        </td>
        <td>
            <a th:href="@{/list/jobs(column=coreCompetency,value=${job.coreCompetency})}" th:text="${job.coreCompetency}"></a>
        </td>
      </tr>
</table>

</body>
</html>
