<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->

  <table th:replace="~{fragments :: displayJobs}"></table>

  <!--  <table class="job-listing" th:each="job : ${jobs}">-->
<!--    <tr th:each="row : ${rowLabels}">-->
<!--      <td th:text="${row.value}">-->
<!--      </td>-->
<!--      <td th:text="${job[row.key]}">-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->

</div>

</body>
</html>